[submodule "vendor/hashlink"]
	path = vendor/hashlink
	url = https://github.com/tritao/hashlink.git
	branch = haxeon/integrated-runtime
[submodule "vendor/hashlink-debugger"]
	path = vendor/hashlink-debugger
	url = https://github.com/tritao/hashlink-debugger.git
	branch = haxeon/debugger
[submodule "vendor/utest"]
	path = vendor/utest
	url = https://github.com/haxe-utest/utest.git
