[submodule "vendor/hashlink"]
	path = vendor/hashlink
	url = https://github.com/tritao/hashlink.git
	branch = haxeon/integrated-runtime
[submodule "vendor/hashlink-debugger"]
	path = vendor/hashlink-debugger
	url = https://github.com/tritao/hashlink-debugger.git
	branch = haxeon/debugger
[submodule "vendor/utest"]
	path = vendor/utest
	url = https://github.com/haxe-utest/utest.git
[submodule "vendor/libffi"]
	path = vendor/libffi
	url = https://github.com/libffi/libffi.git
[submodule "vendor/nativekit"]
	path = vendor/nativekit
	url = https://github.com/tritao/nativekit.git
[submodule "packages/ui/vendor/budouxc"]
	path = packages/ui/vendor/budouxc
	url = https://github.com/memononen/budouxc.git
[submodule "packages/ui/vendor/clay"]
	path = packages/ui/vendor/clay
	url = https://github.com/tritao/clay.git
	branch = nativekit
[submodule "packages/ui/vendor/harfbuzz"]
	path = packages/ui/vendor/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "packages/ui/vendor/libunibreak"]
	path = packages/ui/vendor/libunibreak
	url = https://github.com/adah1972/libunibreak.git
[submodule "packages/ui/vendor/nanovg"]
	path = packages/ui/vendor/nanovg
	url = https://github.com/tritao/nanovg.git
[submodule "packages/ui/vendor/sheenbidi"]
	path = packages/ui/vendor/sheenbidi
	url = https://github.com/Tehreer/SheenBidi.git
[submodule "packages/ui/vendor/skribidi"]
	path = packages/ui/vendor/skribidi
	url = https://github.com/tritao/Skribidi.git
